<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lf.mimallgenerator.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lf.mimallgenerator.entity.SysUser">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="create_time" property="create_time"/>
        <result column="create_by" property="create_by"/>
        <result column="update_time" property="update_time"/>
        <result column="update_by" property="update_by"/>
        <result column="del_flag" property="del_flag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, sex, birthday, create_time, create_by, update_time, update_by, del_flag
    </sql>

    <!--自定义关联查询-->
    <!-- 表名 -->
    <sql id="t_name">sys_user</sql>
    <!-- 别名 -->
    <sql id="t_alias">sys_user as user</sql>
    <!--外键表关联定义 -->
    <sql id="join"></sql>

    <!-- 自定义查询单个实体 -->
    <select id="getEntityMap" resultType="com.lf.mimall.mimallcommon.mybatis.EntityMap">
        SELECT * FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <!-- 自定义关联查询分页 -->
    <select id="pageList" resultType="com.lf.mimall.mimallcommon.mybatis.EntityMap">
        select ${ew.select} FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>
</mapper>
